## Merging and Exporting Data
## This script includes the following points:
## Step 3. Import the data.
## Step 4. Check the Output of Dataframes.
## Step 5. Merge df_prods with df_ords_combined.
## Step 6. Confirm the results of the merge using the merge flag.
## Step 7. Export the file.

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Step 3. Import the data.

In [67]:
#Import Data
path = r'C:\Users\Raghu\Instacart Basket Analysis\02 Data\Prepared Data/prods_checked.csv'

In [68]:
path = r'C:\Users\Raghu\Instacart Basket Analysis\02 Data\Prepared Data/orders_checked.csv'

In [69]:
path = r'C:\Users\Raghu\Instacart Basket Analysis\02 Data\Prepared Data/orders_products_combined.csv'

In [70]:
path = r'C:\Users\Raghu\Instacart Basket Analysis\02 Data\Prepared Data/orders_products_combined.pkl'

In [74]:
df_prods = pd.read_csv(os.path.join(r'C:\Users\Raghu\Instacart Basket Analysis\02 Data\Prepared Data/prods_checked.csv'), index_col = False)

In [77]:
path = 'C:\\Users\\Raghu\\Instacart Basket Analysis\\'

In [78]:
df_ords_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Step 4. Check the Output of Dataframes.

In [79]:
#Check Output: df_prods
df_prods.head()

,order_id,user_id,order_number,order_of_week,oder_hour_of _day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [80]:
df_prods.describe()

,order_id,user_id,order_number,order_of_week,oder_hour_of _day,days_since_prior_order
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,985475.000000
mean,1.710968e+06,3.156404e+04,1.717418e+01,2.778637e+00,1.345229e+01,11.102506
std,9.875774e+05,1.816695e+04,1.771094e+01,2.047751e+00,4.219144e+00,9.186663
min,6.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,8.554670e+05,1.589600e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000
50%,1.710657e+06,3.160800e+04,1.100000e+01,3.000000e+00,1.300000e+01,7.000000
75%,2.566970e+06,4.729700e+04,2.300000e+01,5.000000e+00,1.600000e+01,15.000000
max,3.421083e+06,6.310000e+04,1.000000e+02,6.000000e+00,2.300000e+01,30.000000

In [81]:
df_prods.shape

(1048575, 6)

In [82]:
#Check Output: df_ords_combined
df_ords_combined.head()

,order_id,user_id,order_number,order_of_week,oder_hour_of _day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [83]:
df_ords_combined.shape

(9927471, 10)

## Step 5. Merge df_prods with df_ords_combined

defining the prods

In [4]:
import pandas as pd
df_prods = pd.read_csv(r'C:\Users\Raghu\Instacart Basket Analysis\02 Data\Prepared Data\prods_checked.csv')

In [5]:
file_path_prods = r'C:\Users\Raghu\Instacart Basket Analysis\02 Data\Prepared Data\prods_checked.csv'

In [6]:
#Drop unnamed columns in df_prods

df_prods = df_prods.drop(columns=['Unnamed: 0'], errors='ignore')

In [7]:
file_path_ords_combined = r'C:\Users\Raghu\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_combined.csv'

In [8]:
df_ords_combined = pd.read_csv(file_path_ords_combined)

In [15]:
#Drop unnamed columns in df_ords_combined
df_ords_combined = df_ords_combined.drop(columns=['Unnamed: 0.1', 'Unnamed: 0', '_merge'], errors='ignore')

##Merge df_prods and df_ords_combined

In [33]:
import pandas as pd

In [43]:
orders_products_combined_path = r'C:\Users\Raghu\Instacart Basket Analysis\01 Project Management\02 Data\03 Scripts\prepared data\orders_products_combined.csv'

In [44]:
products_prepared_path = r'C:\Users\Raghu\Instacart Basket Analysis\01 Project Management\02 Data\03 Scripts\prepared data\orders_products_combined.csv'

In [45]:
products_prepared = pd.read_csv(products_prepared_path)

In [47]:
orders_products_combined = pd.read_csv(r'C:\Users\Raghu\Instacart Basket Analysis\01 Project Management\02 Data\03 Scripts\prepared data\orders_products_combined.csv'
)

In [49]:
products_prepared = pd.read_csv(r'C:\Users\Raghu\Instacart Basket Analysis\01 Project Management\02 Data\03 Scripts\prepared data\prods_data.csv')

In [51]:
df_combined = pd.merge(orders_products_combined, products_prepared, on='product_id')

In [54]:
df_prods = pd.read_csv(r'C:\Users\Raghu\Instacart Basket Analysis\01 Project Management\02 Data\03 Scripts\prepared data\prods_data.csv')

In [55]:
df_ords_combined = pd.read_csv(r'C:\Users\Raghu\Instacart Basket Analysis\01 Project Management\02 Data\03 Scripts\prepared data\orders_products_combined.csv')

In [60]:
df_merged = df_prods.merge(df_ords_combined, on='product_id', indicator='merge_indicator')

In [61]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,order_number,order_of_week,oder_hour_of _day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator
0,1,Chocolate Sandwich Cookies,61,19,5.8,16802,3139998,138,28,6,11,3.0,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,16806,1977647,138,30,6,17,20.0,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,106710,389851,709,2,0,21,6.0,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,113536,652770,764,1,3,13,NaN,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,113575,1813452,764,3,4,17,9.0,11,1,both,both

## Step 6. Confirm the results of the merge using the merge flag.

In [62]:
df_merged

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0,order_id,user_id,order_number,order_of_week,oder_hour_of _day,days_since_prior_order,add_to_cart_order,reordered,_merge,merge_indicator
0,1,Chocolate Sandwich Cookies,61,19,5.8,16802,3139998,138,28,6,11,3.0,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,16806,1977647,138,30,6,17,20.0,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,106710,389851,709,2,0,21,6.0,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,113536,652770,764,1,3,13,NaN,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,113575,1813452,764,3,4,17,9.0,11,1,both,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048581,49683,Cucumber Kirby,83,4,13.2,1045521,3043966,6736,3,0,17,2.0,2,0,both,both
1048582,49683,Cucumber Kirby,83,4,13.2,1045752,690093,6738,12,1,14,11.0,2,0,both,both
1048583,49683,Cucumber Kirby,83,4,13.2,1046237,3024781,6744,4,2,22,12.0,12,0,both,both
1048584,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7,965543,1682785,6252,3,5,14,11.0,3,0,both,both
1048585,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7,965570,3347716,6252,6,2,12,29.0,5,1,both,both

In [63]:
df_merged['_merge'].value_counts()

_merge
both    1048586
Name: count, dtype: int64

## Step 7. Export the File.

In [70]:
#Export orders_products_merged file
import os
import pandas as pd

In [79]:
path = r'C:\\Users\\Raghu\\Instacart Basket Analysis\\01 Project Management\\02 Data\\03 Scripts\\Prepared Data'

In [80]:
os.makedirs(os.path.join(path, '02 Data', '03 Scripts', 'Prepared Data'), exist_ok=True)

In [81]:
df_merged.to_pickle(os.path.join(path, '02 Data', '03 Scripts', 'Prepared Data', 'orders_products_merged.pkl'))

In [84]:
df_merged.to_csv(os.path.join(path, '02 Data', '03 Scripts', 'Prepared Data', 'orders_products_merged.csv'))